<title>Order Page</title>
<nav aria-label="breadcrumb" class="d-flex justify-content-between align-items-center mt-3">
    <h3>Order Page</h3>
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">Home</li>
        <li class="breadcrumb-item active" aria-current="page">Order Page</li>
    </ol>
</nav>
<div class="mt-2">
    <div style="padding: 10px; border: 1px solid #ccc; border-radius:10px;">
    <div class="row mt-2" style="border: 10px;">
        <div class="col-6" style="border-right: 1px solid #f1f1f1;"></div>
        <h3>Bilgisayar</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus cumque debitis ullam nam velit quaerat. Iure officiis ipsam fugit, ad mollitia quaerat illum. Atque sed magnam, consectetur odio velit eius!</p>
    </div>
    </div>
</div>
<div class="col-3">
    <table class="table table-bordered">
        <tr>
            <th style="font-weight: 700;">Price</th>
            <th class="text-end">t200.00</th>
        </tr>
        <tr>
            <th style="font-weight:700;">Quantity</th>
            <th class="text-end">1</th>
        </tr>
        <tr>
            <th style="font-weight: 700;">Total Amount</th>
            <th class="text-end">t600,00</th>
        </tr>
        <tr>
            <th style="font-weight: 700;">Total Kdv</th>
            <th class="text-end">t120.00</th>
        </tr>
        <tr>
            <th style="font-weight: 700;">Total</th>
            <th class="text-end text-danger" style="font-weight: 700;">t720.00</th>
        </tr>
    </table>
</div>